
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head :: head"></th:block>
<body>
<div id="wrap">
  <th:block layout:fragment="mypage"></th:block>
  <th:block layout:fragment="main"></th:block>
  <th:block layout:fragment="registconfirm"></th:block>
  <th:block layout:fragment="regist"></th:block>
  <th:block layout:fragment="login"></th:block>
  <th:block layout:fragment="book"></th:block>
  <th:block layout:fragment="rentalconfirm"></th:block>

</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>