
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div id="footer_box">
            <div id="footer_logo">
                <img src="/image/logo.png" alt="중앙E-book" >
            </div>
            <div id="adress">
                <ul>
                    <li>서울특별시 서대문구 아현동 제일빌딩 2층 우 : 012345</li>
                    <li>TEL: 02-123-4567 Email : chooa@naver.com</li>
                    <li>COPYRIGHT(C) 주앙커피 ALL RIGHTS RESERVED</li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>