<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main_layout">
<th:block layout:fragment="book">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/book.js"></script>

    <!-- 도서 상세페이지 -->
    <div class="container">
        <div class="row">
            <!-- 도서 사진 -->
            <div class="col-md-4">
                <img src="" th:src="'/./image/coffee/coffee'+${coffee.b_no}+'.png'" class="card-img-top" alt="...">
            </div>
            <!-- 도서 정보 -->
            <div class="col-sm-5" id="book1" th:object="${coffee}">
                <br><br><br><br>
                <div id="book">도서정보</div>
                <br><br>
                <ul>
                    <li>
                        <div class="title">
                            <div id="title">
                                도서명
                            </div>
                            <div id="title1" th:text="*{title}">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="author">
                            <div id="author">
                                저자
                            </div>
                            <div id="author1" th:text="*{author}">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                    <form action="/rental" method="get">
                        <input type="hidden" name="bookListDTO" th:value="${coffee}">
                        <input type="hidden" name="b_no" th:value="${coffee.b_no}">
                        <button type="submit" class= "btn btn-primary btn float-right" id="order">주문</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 리뷰 작성, 리뷰 확인 -->
    <div class="container">
        <div class="" id="dd">
            <form th:action="@{reviewregist}" method="post" class="book" th:object="${coffee}">
                <input type="text" name="answer" placeholder="도서리뷰">
                <input type="hidden" name="b_no" th:value="${coffee.b_no}">
                <button type="submit" class="btn btn-primary">수량입력</button>
            </form>
        </div>
        <br><br><br><br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">작성자</th>
                <th scope="col">내용</th>
                <th scope="col">수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderDetail : ${orderDetail}">
                <th th:text="${orderDetailStat.count}" scope="row"></th>
                <td th:text="${orderDetail.nickname}"></td>
                <td th:text="${orderDetail.answer}"></td>
                <td>
                    <button type="button">수정</button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>

                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>
</html>